body{
     background-color: black; 
     max-width: fit-content; 
    
}
.rules{
    height:80vh;
    width:80vw;
    margin-left: 10vw;
   
    margin-top:10vh ;
    /* background-image: linear-gradient(rgba(7 7 7/20%),rgba(55 7 7/90%)),url(../images/stranger.jpeg); */
    /* background-repeat: no-repeat;
    background-size :80vw;
    background-position: top; */
    text-align: center;
}
.rule-list{

    margin-top: 3em;
    margin-left: 7rem;
    display: inline-block;
    text-align: left;
    
}
 .rule{
       
         font-size: 1.4em;
         color: aliceblue;
         line-height: 1.5em;
    }
.btn{
    display: block;
    margin-top: 2rem;
    margin-left:40%;
    
    
}